<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.search"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.USCconnect.MainPage"
			android:screenOrientation="portrait"   
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.USCconnect.SearchPage"
            android:label="Search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.USCconnect.StudentLog"
            android:label="title_activity_student_log"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.USCconnect.searchResult"
            android:label="Search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.USCconnect.AboutPage"
            android:label="title_activity_about_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.example.USCconnect.NoteEdit" >
        </activity>
        <activity
            android:name="com.example.USCconnect.Display"
            android:label="title_activity_display" >
        </activity>
    </application>

</manifest>
